.aperture-parchment-0-0 {
	background-color: #f8d29e;
	background-image: url(parchment/0/0);
	border-color: #ba9e77;
}
.aperture-parchment-20-0 {
	background-color: #f9d6a5;
	background-image: url(parchment/20/0);
	border-color: #bba17c;
}
.aperture-parchment-40-0 {
	background-color: #fadaac;
	background-image: url(parchment/40/0);
	border-color: #bca481;
}
.aperture-parchment-60-0 {
	background-color: #fbdfb2;
	background-image: url(parchment/60/0);
	border-color: #bca786;
}
.aperture-parchment-80-0 {
	background-color: #fce3b9;
	background-image: url(parchment/80/0);
	border-color: #bdaa8b;
}
.aperture-parchment-100-0 {
	background-color: #fde7c0;
	border-color: #bead90;
}
.aperture-parchment-0-20 {
	background-color: #efd0a7;
	background-image: url(parchment/0/20);
	border-color: #b39c7d;
}
.aperture-parchment-20-20 {
	background-color: #f2d6af;
	background-image: url(parchment/20/20);
	border-color: #b6a183;
}
.aperture-parchment-40-20 {
	background-color: #f5dbb6;
	background-image: url(parchment/40/20);
	border-color: #b8a489;
}
.aperture-parchment-60-20 {
	background-color: #f8e1bd;
	background-image: url(parchment/60/20);
	border-color: #baa98e;
}
.aperture-parchment-80-20 {
	background-color: #fae6c5;
	background-image: url(parchment/80/20);
	border-color: #bcad94;
}
.aperture-parchment-100-20 {
	background-color: #fdeccd;
	border-color: #beb19a;
}
.aperture-parchment-0-40 {
	background-color: #e6cfb0;
	background-image: url(parchment/0/40);
	border-color: #ad9b84;
}
.aperture-parchment-20-40 {
	background-color: #ebd6b8;
	background-image: url(parchment/20/40);
	border-color: #b0a18a;
}
.aperture-parchment-40-40 {
	background-color: #efdcc0;
	background-image: url(parchment/40/40);
	border-color: #b3a590;
}
.aperture-parchment-60-40 {
	background-color: #f4e3c8;
	background-image: url(parchment/60/40);
	border-color: #b7aa96;
}
.aperture-parchment-80-40 {
	background-color: #f9ead1;
	background-image: url(parchment/80/40);
	border-color: #bbb09d;
}
.aperture-parchment-100-40 {
	background-color: #fef1d9;
	border-color: #bfb5a3;
}
.aperture-parchment-0-60 {
	background-color: #dccdb8;
	background-image: url(parchment/0/60);
	border-color: #a59a8a;
}
.aperture-parchment-20-60 {
	background-color: #e3d5c2;
	background-image: url(parchment/20/60);
	border-color: #aaa092;
}
.aperture-parchment-40-60 {
	background-color: #eaddcb;
	background-image: url(parchment/40/60);
	border-color: #b0a698;
}
.aperture-parchment-60-60 {
	background-color: #f1e6d4;
	background-image: url(parchment/60/60);
	border-color: #b5ad9f;
}
.aperture-parchment-80-60 {
	background-color: #f7eddc;
	background-image: url(parchment/80/60);
	border-color: #b9b2a5;
}
.aperture-parchment-100-60 {
	background-color: #fef5e6;
	border-color: #bfb8ad;
}
.aperture-parchment-0-80 {
	background-color: #d3ccc1;
	background-image: url(parchment/0/80);
	border-color: #9e9991;
}
.aperture-parchment-20-80 {
	background-color: #dcd5cb;
	background-image: url(parchment/20/80);
	border-color: #a5a098;
}
.aperture-parchment-40-80 {
	background-color: #e4ded5;
	background-image: url(parchment/40/80);
	border-color: #aba7a0;
}
.aperture-parchment-60-80 {
	background-color: #ede8df;
	background-image: url(parchment/60/80);
	border-color: #b2aea7;
}
.aperture-parchment-80-80 {
	background-color: #f6f1e8;
	background-image: url(parchment/80/80);
	border-color: #b9b5ae;
}
.aperture-parchment-100-80 {
	background-color: #fffaf2;
	border-color: #bfbcb6;
}
.aperture-parchment-0-100 {
	background-color: #cacaca;
	background-image: url(parchment/0/100);
	border-color: #989898;
}
.aperture-parchment-20-100 {
	background-color: #d5d5d5;
	background-image: url(parchment/20/100);
	border-color: #a0a0a0;
}
.aperture-parchment-40-100 {
	background-color: #dfdfdf;
	background-image: url(parchment/40/100);
	border-color: #a7a7a7;
}
.aperture-parchment-60-100 {
	background-color: #eaeaea;
	background-image: url(parchment/60/100);
	border-color: #b0b0b0;
}
.aperture-parchment-80-100 {
	background-color: #f4f4f4;
	background-image: url(parchment/80/100);
	border-color: #b7b7b7;
}
.aperture-parchment-100-100 {
	background-color: #ffffff;
	border-color: #bfbfbf;
}